# Lesson 3 Practice: Pandas Part 1

Use this notebook to follow along with the lesson in the corresponding lesson notebook: [L03-Pandas_Part1-Lesson.ipynb](./L03-Pandas_Part1-Lesson.ipynb).

## Instructions
Follow along with the teaching material in the lesson. Throughout the tutorial sections labeled as "Tasks" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png). You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook. For each task, use the cell below it to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

+ `numpy` as `np`
+ `pandas` as `pd`

In [1]:
import numpy as np
import pandas as pd

## Task 2a Create a `pd.Series` object

+ Create a series of your own design.

In [2]:
my_series = pd.Series([1, 2, 3, 4])
my_series

0    1
1    2
2    3
3    4
dtype: int64

## Task 2b: Creating a DataFrame

+ Create a pd.DataFrame object from a Python dictionary. Design the data as you like.

In [3]:
example = pd.DataFrame(
        {'alpha': [4, 5, 6, 7],
         'beta': [6, 15, 36, 7]})
example

   alpha  beta
0      4     6
1      5    15
2      6    36
3      7     7

## Task 2c: Create DataFrame with labels

+ Create a 10x5 dataframe of random numeric integers that follow a [Guassian (normal) Distribution](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.normal.html). 
  + Center the distrubtion at 0.85.
  + We will use these values as assumed grades for a class of students
+ Adjust the row indexes to be the names of hypothetical students.
+ Adjust the columsn to be the names of hypothetical projects, homework, exam names, etc.

In [3]:
student_names = ['Barry', 'Bill', 'Charles', 'Mark', 'Lisa', 'Harold', 'Stella', 'Chuck', 'Kim', 'Orran' ]

df2 = pd.DataFrame(np.random.normal(0.85, 1, (10,5)), index = student_names, columns = ('HW1', 'Exam 1', 'Exam 2', 'Project 1', 'Final Exam')) 
df2

              HW1    Exam 1    Exam 2  Project 1  Final Exam
Barry    1.246388  0.724220  0.639676   1.647424    2.404831
Bill    -0.743386  0.026724  2.130651   0.322672    0.089560
Charles  0.749056  0.222648  0.472880   0.311421    0.541290
Mark     1.929828  1.025380  0.656275  -0.207881    0.994402
Lisa    -0.403374  1.822737  0.969144  -1.042198    0.168723
Harold   1.620816  1.395441  1.204539   1.695677   -0.047227
Stella   1.518745 -1.200160  2.292750   0.666303    0.272705
Chuck    0.676389 -1.826590  1.597633   0.871541   -0.902427
Kim     -0.057821  2.423595  0.373841   2.559532   -1.423012
Orran    1.683316  0.172807  0.574189   2.849388    1.985248

## Task 3a: Import the iris.csv file

+ Import the iris dataset.
+ Take a look at the `pd.read_csv` online documentation. Write example code in a Markup cell for how you would import this file if it were tab-delimited.

In [2]:
irisdf = pd.read_csv("data/iris.csv")

pd.read_csv("iris.csv", sep = ' '

## Task 4a: Explore Data

 + Use `head`, `tail` and `sample` with the iris dataset.
 + Do the same with the dataset you created in task 2c.

In [17]:
irisdf.head(7)
irisdf.tail(7)
irisdf.sample(7)
df2.head(3)
df2.tail(3)
df2.sample(3)

              HW1    Exam 1    Exam 2  Project 1  Final Exam
Orran    1.683316  0.172807  0.574189   2.849388    1.985248
Mark     1.929828  1.025380  0.656275  -0.207881    0.994402
Charles  0.749056  0.222648  0.472880   0.311421    0.541290

## Task 5a: Viewing columns and rows

+ Display the columns and indexes of the iris dataset.
+ Do the same with the dataset you created in Task 2c.

In [22]:
irisdf.columns
irisdf.index
df2.columns
df2.index

Index(['Barry', 'Bill', 'Charles', 'Mark', 'Lisa', 'Harold', 'Stella', 'Chuck',
       'Kim', 'Orran'],
      dtype='object')

## Task 5b: Get Values

+ Check the version of `pandas` you have 
+ Use the appropriate method to convert the iris data to a dictionary.
+ Do the same with the dataset you created in Task 2c.

In [28]:
pd.__version__
newiris = irisdf.to_dict()
newiris
newdf2 = df2.to_dict()
newdf2

{'HW1': {'Barry': 1.246387679314844,
  'Bill': -0.7433856153145392,
  'Charles': 0.7490556153419756,
  'Mark': 1.9298278728525085,
  'Lisa': -0.4033736703326204,
  'Harold': 1.6208161130472734,
  'Stella': 1.5187452094616918,
  'Chuck': 0.6763886152222107,
  'Kim': -0.057821194889145944,
  'Orran': 1.6833155580439785},
 'Exam 1': {'Barry': 0.7242201826725705,
  'Bill': 0.026723969536797898,
  'Charles': 0.22264799688150416,
  'Mark': 1.0253803494300602,
  'Lisa': 1.8227371637610972,
  'Harold': 1.3954410027823325,
  'Stella': -1.2001595236452447,
  'Chuck': -1.8265900911422537,
  'Kim': 2.4235951176801116,
  'Orran': 0.17280665081385393},
 'Exam 2': {'Barry': 0.6396756937258508,
  'Bill': 2.130651475477592,
  'Charles': 0.47288016313528447,
  'Mark': 0.6562749819552574,
  'Lisa': 0.9691439565357128,
  'Harold': 1.2045391971309163,
  'Stella': 2.2927498758281293,
  'Chuck': 1.597632575532295,
  'Kim': 0.3738414923000041,
  'Orran': 0.5741891397836755},
 'Project 1': {'Barry': 1.6474238786375746,
  'Bill': 0.32267247810046695,
  'Charles': 0.31142079239566134,
  'Mark': -0.20788109101785712,
  'Lisa': -1.0421980128909234,
  'Harold': 1.695677107505111,
  'Stella': 0.6663033855315239,
  'Chuck': 0.8715413113780723,
  'Kim': 2.5595319280394637,
  'Orran': 2.8493877746287537},
 'Final Exam': {'Barry': 2.4048311473128843,
  'Bill': 0.08956006449452558,
  'Charles': 0.5412896807182466,
  'Mark': 0.9944018563106702,
  'Lisa': 0.16872347021085388,
  'Harold': -0.04722721036935951,
  'Stella': 0.27270520405180443,
  'Chuck': -0.9024272393869516,
  'Kim': -1.4230121801454287,
  'Orran': 1.9852481826256754}}

## Task 5c: Using `loc`

+ Use any iris dataframe to:
  + Select a row slice with `loc`.
  + Select a row and column slice with `loc`.
  + Take a look at the [Pandas documentation for the `at` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html). Use what you learn there to select a single item with Pandas `at` accessor.

In [12]:
irisdf.loc[4:7]
irisdf.loc[4:7, ['sepal_width', 'petal_length']]
irisdf.at[7, 'petal_length']

1.5

## Task 5d: Using `iloc`

+ Use any iris dataframe to:    
    + Select a row slice with `iloc`.
    + Select a row and column slice with `iloc`.
    + Take a look at the [Pandas documentation for the `iat` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iat.html). Use what you learn there to select a single item with Pandas `iat` accessor.

In [18]:
irisdf.iloc[7:9]
irisdf.iloc[4:6, :-2]
irisdf.iat[7,3]

0.2

## Task 5e: Boolean Indexing

+ Create subsets of the iris dataset using boolean indexes that:
    + Use one boolean operator.
    + Use two boolean operators.

In [43]:
condition1 = irisdf['petal_width'] > 1
condition1 
condition2 = irisdf['sepal_length'] > 6
condition2

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149    False
Name: sepal_length, Length: 150, dtype: bool

In [47]:
irisdf[[condition1][condition2]].head()

TypeError: list indices must be integers or slices, not Series